<div style="position:absolute;left:1525px;top:3077.32px;width:252px;height:24px;">
  <!-- 日期选择器日期行（第5行）：前5格默认日期，后2格置灰占位（不渲染） -->
  <div style="position:absolute;left:0px;top:0px;width:36px;height:24px;"><div style="position:absolute;left:14.5px;top:1.5px;width:7px;height:21px;font-family:'San Francisco Text';font-size:14px;font-weight:400;line-height:21px;color:#272E3B;white-space:nowrap;">1</div></div>
  <div style="position:absolute;left:36px;top:0px;width:36px;height:24px;"><div style="position:absolute;left:14.5px;top:1.5px;width:7px;height:21px;font-family:'San Francisco Text';font-size:14px;font-weight:400;line-height:21px;color:#272E3B;white-space:nowrap;">1</div></div>
  <div style="position:absolute;left:72px;top:0px;width:36px;height:24px;"><div style="position:absolute;left:14.5px;top:1.5px;width:7px;height:21px;font-family:'San Francisco Text';font-size:14px;font-weight:400;line-height:21px;color:#272E3B;white-space:nowrap;">1</div></div>
  <div style="position:absolute;left:108px;top:0px;width:36px;height:24px;"><div style="position:absolute;left:14.5px;top:1.5px;width:7px;height:21px;font-family:'San Francisco Text';font-size:14px;font-weight:400;line-height:21px;color:#272E3B;white-space:nowrap;">1</div></div>
  <div style="position:absolute;left:144px;top:0px;width:36px;height:24px;"><div style="position:absolute;left:14.5px;top:1.5px;width:7px;height:21px;font-family:'San Francisco Text';font-size:14px;font-weight:400;line-height:21px;color:#272E3B;white-space:nowrap;">1</div></div>
  <div style="position:absolute;left:180px;top:0px;width:36px;height:24px;"></div>
  <div style="position:absolute;left:216px;top:0px;width:36px;height:24px;"></div>
</div>
