<div style="position:absolute;left:1460px;top:5528px;width:368px;height:24px;display:flex;align-items:center;font-family:'San Francisco Text','PingFang SC',sans-serif;font-size:14px;font-weight:400;line-height:21px;">
  <div style="width:52.57px;height:24px;display:flex;justify-content:center;align-items:center;color:#A9AEB8;">29</div>
  <div style="width:52.57px;height:24px;display:flex;justify-content:center;align-items:center;color:#A9AEB8;">30</div>
  <div style="width:52.57px;height:24px;display:flex;justify-content:center;align-items:center;color:#A9AEB8;">31</div>
  <div style="width:52.57px;height:24px;display:flex;justify-content:center;align-items:center;color:#272E3B;">1</div>
  <div style="width:52.57px;height:24px;display:flex;justify-content:center;align-items:center;color:#272E3B;">2</div>
  <div style="width:52.57px;height:24px;display:flex;justify-content:center;align-items:center;color:#272E3B;">3</div>
  <div style="width:52.57px;height:24px;display:flex;justify-content:center;align-items:center;color:#272E3B;">4</div>
</div>
