<div style="position:absolute;left:1460px;top:5492px;width:368px;height:24px;display:flex;align-items:center;font-family:'San Francisco Text','PingFang SC',sans-serif;font-size:14px;font-weight:400;line-height:21px;color:#A9AEB8;">
  <div style="width:52.57px;height:24px;display:flex;justify-content:center;align-items:center;">六</div>
  <div style="width:52.57px;height:24px;display:flex;justify-content:center;align-items:center;">一</div>
  <div style="width:52.57px;height:24px;display:flex;justify-content:center;align-items:center;">二</div>
  <div style="width:52.57px;height:24px;display:flex;justify-content:center;align-items:center;">三</div>
  <div style="width:52.57px;height:24px;display:flex;justify-content:center;align-items:center;">四</div>
  <div style="width:52.57px;height:24px;display:flex;justify-content:center;align-items:center;">五</div>
  <div style="width:52.57px;height:24px;display:flex;justify-content:center;align-items:center;">六</div>
</div>
