<div style="position:absolute;left:704px;top:7351px;width:600px;height:475px;background:#FFFFFF;">
  <!-- 卡片标题栏 -->
  <div style="position:absolute;left:0;top:0;width:600px;height:80px;background:rgba(1,27,70,0.04);">
    <div style="position:absolute;left:239px;top:24px;width:122px;height:32px;font-family:'San Francisco Text','PingFang SC',sans-serif;font-size:24px;font-weight:500;line-height:130%;color:#202229;white-space:nowrap;">图片 Image</div>
  </div>
  <!-- 图片示例组 -->
  <div style="position:absolute;left:88px;top:144px;width:424px;height:200px;">
    <!-- 真实图片 -->
    <div style="position:absolute;left:0;top:0;width:200px;height:200px;background:#E5E6EB;overflow:hidden;">
      <img src="https://image-resource.mastergo.com/144621578964382/182495101419780/c09f129fc31f42b30064765d905e529a.jpg" style="position:absolute;left:0;top:0;width:200px;height:200px;object-fit:cover;display:block;" alt="" />
    </div>
    <!-- 图片占位 -->
    <div style="position:absolute;left:224px;top:0;width:200px;height:200px;background:#F2F3F5;">
      <div style="position:absolute;left:72px;top:72px;width:56px;height:56px;">
        <div style="position:absolute;left:0;top:6px;width:56px;height:44px;">@@SVG:S115#0@@</div>
      </div>
    </div>
  </div>
</div>
