<div style="position:absolute;left:1632px;top:4456px;width:24px;height:56px;">
  <!-- 穿梭框中间移动按钮 -->
  <div style="position:absolute;left:0;top:0;width:24px;height:24px;border-radius:4px;background:#1B6DFA;">
    <span style="position:absolute;left:4px;top:4px;width:16px;height:16px;display:inline-flex;">@@SVG:S56#0@@</span>
  </div>
  <div style="position:absolute;left:0;top:32px;width:24px;height:24px;border-radius:4px;background:#D6DBE1;"><!-- token: 线条/border_1，disabled 置灰 -->
    <span style="position:absolute;left:4px;top:4px;width:16px;height:16px;display:inline-flex;transform:rotate(180deg);">@@SVG:S56#0@@</span>
  </div>
</div>
