<!-- section 11: 面包屑 Breadcrumb 五组示例 (17:27591 容器2395) -->
<div style="position:absolute;left:877.5px;top:1774px;width:253px;height:201px;font-family:'San Francisco Text',-apple-system,'PingFang SC',sans-serif;font-size:14px;">
  <!-- 行1：首页 / 一级 / 二级 -->
  <div style="position:absolute;left:62.5px;top:0px;width:128px;height:21px;">
    <!-- 样板文字(_placeholder) --><span style="position:absolute;left:0px;top:0px;line-height:150%;color:#272E3B;white-space:nowrap;">首页</span>
    <!-- 样板文字(_placeholder) --><span style="position:absolute;left:36px;top:1px;line-height:130%;color:#C9CDD4;">/</span>
    <span style="position:absolute;left:50px;top:0px;line-height:150%;color:#272E3B;white-space:nowrap;">一级</span>
    <!-- 样板文字(_placeholder) --><span style="position:absolute;left:86px;top:1px;line-height:130%;color:#C9CDD4;">/</span>
    <span style="position:absolute;left:100px;top:0px;line-height:150%;color:#565B66;white-space:nowrap;">二级</span><!-- token: 文字/正文 -->
  </div>
  <!-- 行2：首页 / 一级 / 二级 -->
  <div style="position:absolute;left:62.5px;top:45px;width:128px;height:21px;">
    <!-- 样板文字(_placeholder) --><span style="position:absolute;left:0px;top:0px;line-height:150%;color:#272E3B;white-space:nowrap;">首页</span>
    <!-- 样板文字(_placeholder) --><span style="position:absolute;left:36px;top:1px;line-height:130%;color:#C9CDD4;">/</span>
    <span style="position:absolute;left:50px;top:0px;line-height:150%;color:#272E3B;white-space:nowrap;">一级</span>
    <!-- 样板文字(_placeholder) --><span style="position:absolute;left:86px;top:1px;line-height:130%;color:#C9CDD4;">/</span>
    <span style="position:absolute;left:100px;top:0px;line-height:150%;color:#565B66;white-space:nowrap;">二级</span>
  </div>
  <!-- 行3：首页 / … / 三级 / 四级（省略号图标矢量无 key，用文本近似） -->
  <div style="position:absolute;left:45.5px;top:90px;width:162px;height:21px;">
    <!-- 样板文字(_placeholder) --><span style="position:absolute;left:0px;top:0px;line-height:150%;color:#272E3B;white-space:nowrap;">首页</span>
    <!-- 样板文字(_placeholder) --><span style="position:absolute;left:36px;top:1px;line-height:130%;color:#C9CDD4;">/</span>
    <span style="position:absolute;left:50px;top:4.5px;width:12px;height:12px;color:#4E5969;font-size:12px;line-height:6px;letter-spacing:1px;text-align:center;">···</span>
    <!-- 样板文字(_placeholder) --><span style="position:absolute;left:70px;top:1px;line-height:130%;color:#C9CDD4;">/</span>
    <span style="position:absolute;left:84px;top:0px;line-height:150%;color:#272E3B;white-space:nowrap;">三级</span>
    <!-- 样板文字(_placeholder) --><span style="position:absolute;left:120px;top:1px;line-height:130%;color:#C9CDD4;">/</span>
    <span style="position:absolute;left:134px;top:0px;line-height:150%;color:#272E3B;white-space:nowrap;">四级</span>
  </div>
  <!-- 行4：首页 / 超长标题截断 / 二级 -->
  <div style="position:absolute;left:0px;top:135px;width:253px;height:21px;">
    <!-- 样板文字(_placeholder) --><span style="position:absolute;left:0px;top:0px;line-height:150%;color:#272E3B;white-space:nowrap;">首页</span>
    <!-- 样板文字(_placeholder) --><span style="position:absolute;left:36px;top:1px;line-height:130%;color:#C9CDD4;">/</span>
    <span style="position:absolute;left:50px;top:1px;width:153px;line-height:130%;color:#8D93A1;white-space:nowrap;">当这个页面标题很长很...</span><!-- token: 文字/secondary -->
    <!-- 样板文字(_placeholder) --><span style="position:absolute;left:211px;top:1px;line-height:130%;color:#C9CDD4;">/</span>
    <span style="position:absolute;left:225px;top:1px;line-height:130%;color:#565B66;white-space:nowrap;">二级</span>
  </div>
  <!-- 行5：首页 / 首页 / 二级 -->
  <div style="position:absolute;left:52.5px;top:180px;width:148px;height:21px;">
    <!-- 样板文字(_placeholder) --><span style="position:absolute;left:0px;top:0px;line-height:150%;color:#272E3B;white-space:nowrap;">首页</span>
    <!-- 样板文字(_placeholder) --><span style="position:absolute;left:36px;top:1px;line-height:130%;color:#C9CDD4;">/</span>
    <!-- 样板文字(_placeholder) --><span style="position:absolute;left:50px;top:0px;line-height:150%;color:#272E3B;white-space:nowrap;">首页</span>
    <!-- 样板文字(_placeholder) --><span style="position:absolute;left:106px;top:1px;line-height:130%;color:#C9CDD4;">/</span>
    <span style="position:absolute;left:120px;top:0px;line-height:150%;color:#565B66;white-space:nowrap;">二级</span>
  </div>
</div>
