<div style="position:absolute;left:1525px;top:2969.32px;width:252px;height:24px;">
  <!-- 日期选择器日期行（第2行）：默认 / 悬停(6) / 今日描边 / 默认×4 -->
  <div style="position:absolute;left:0px;top:0px;width:36px;height:24px;">
    <div style="position:absolute;left:14.5px;top:1.5px;width:7px;height:21px;font-family:'San Francisco Text';font-size:14px;font-weight:400;line-height:21px;color:#272E3B;white-space:nowrap;">1</div>
  </div>
  <!-- hover 悬停单元格 -->
  <div style="position:absolute;left:34.23px;top:0px;width:34.23px;height:22.82px;">
    <div style="position:absolute;left:6px;top:0px;width:24px;height:24px;background:#F2F3F5;border-radius:4px;">
      <div style="position:absolute;left:7.41px;top:1.41px;width:8px;height:20px;font-family:'San Francisco Text';font-size:13.31px;font-weight:400;line-height:19.96px;color:#272E3B;white-space:nowrap;">6</div>
    </div>
  </div>
  <!-- today 今日单元格（蓝色描边，占位文字不渲染） -->
  <div style="position:absolute;left:72px;top:0px;width:36px;height:24px;">
    <div style="position:absolute;left:6px;top:0px;width:24px;height:24px;box-sizing:border-box;border:1px solid #1B6DFA;border-radius:4px;"></div>
  </div>
  <div style="position:absolute;left:108px;top:0px;width:36px;height:24px;">
    <div style="position:absolute;left:14.5px;top:1.5px;width:7px;height:21px;font-family:'San Francisco Text';font-size:14px;font-weight:400;line-height:21px;color:#272E3B;white-space:nowrap;">1</div>
  </div>
  <div style="position:absolute;left:144px;top:0px;width:36px;height:24px;">
    <div style="position:absolute;left:14.5px;top:1.5px;width:7px;height:21px;font-family:'San Francisco Text';font-size:14px;font-weight:400;line-height:21px;color:#272E3B;white-space:nowrap;">1</div>
  </div>
  <div style="position:absolute;left:180px;top:0px;width:36px;height:24px;">
    <div style="position:absolute;left:14.5px;top:1.5px;width:7px;height:21px;font-family:'San Francisco Text';font-size:14px;font-weight:400;line-height:21px;color:#272E3B;white-space:nowrap;">1</div>
  </div>
  <div style="position:absolute;left:216px;top:0px;width:36px;height:24px;">
    <div style="position:absolute;left:14.5px;top:1.5px;width:7px;height:21px;font-family:'San Francisco Text';font-size:14px;font-weight:400;line-height:21px;color:#272E3B;white-space:nowrap;">1</div>
  </div>
</div>
