<div style="position:absolute;left:2164px;top:4381px;width:240px;height:32px;box-sizing:border-box;border:1px solid #1B6DFA;border-radius:6px;box-shadow:0 0 0 2px #EBF5FF;">
  <!-- 树选择：输入中状态的搜索选择器 -->
  <span style="position:absolute;left:12px;top:5.5px;font-family:'San Francisco Text','PingFang SC',sans-serif;font-size:14px;font-weight:400;line-height:21px;color:#272E3B;">选项</span>
  <div style="position:absolute;left:42px;top:8px;width:1px;height:16px;background:#272E3B;"></div><!-- 光标 -->
  <span style="position:absolute;left:212px;top:8px;width:16px;height:16px;display:inline-flex;">@@SVG:S59#0@@</span>
</div>
