<div style="position:absolute;left:248px;top:7499px;width:232px;height:24px;">
  <!-- 树形列表 一级选项(展开箭头) -->
  <div style="position:absolute;left:0;top:0;width:24px;height:24px;">
    <div style="position:absolute;left:6px;top:6px;width:12px;height:12px;">
      <div style="position:absolute;left:1.87px;top:3.52px;width:8.25px;height:4.97px;">@@SVG:S107#0@@</div>
    </div>
  </div>
  <div style="position:absolute;left:26px;top:0;width:206px;height:24px;border-radius:4px;">
    <div style="position:absolute;left:6px;top:4px;height:21px;font-family:'San Francisco Text','PingFang SC',sans-serif;font-size:14px;font-weight:400;line-height:150%;color:#4E5969;white-space:nowrap;">选项</div>
  </div>
</div>
