<div style="position:absolute;left:1525px;top:2897.32px;width:252px;height:24px;">
  <!-- 日期选择器星期表头行：7 个 36×24 单元格（「日」为样板占位文字不渲染） -->
  <div style="position:absolute;left:0px;top:0px;width:36px;height:24px;"></div>
  <div style="position:absolute;left:36px;top:0px;width:36px;height:24px;"></div>
  <div style="position:absolute;left:72px;top:0px;width:36px;height:24px;"></div>
  <div style="position:absolute;left:108px;top:0px;width:36px;height:24px;"></div>
  <div style="position:absolute;left:144px;top:0px;width:36px;height:24px;"></div>
  <div style="position:absolute;left:180px;top:0px;width:36px;height:24px;"></div>
  <div style="position:absolute;left:216px;top:0px;width:36px;height:24px;"></div>
</div>
