<div style="position:absolute;left:1460px;top:5636px;width:368px;height:24px;display:flex;align-items:center;font-family:'San Francisco Text','PingFang SC',sans-serif;font-size:14px;font-weight:400;line-height:21px;color:#272E3B;">
  <div style="width:52.57px;height:24px;display:flex;justify-content:center;align-items:center;">19</div>
  <div style="width:52.57px;height:24px;display:flex;justify-content:center;align-items:center;">20</div>
  <div style="width:52.57px;height:24px;display:flex;justify-content:center;align-items:center;">21</div>
  <div style="width:52.57px;height:24px;display:flex;justify-content:center;align-items:center;">22</div>
  <div style="width:52.57px;height:24px;display:flex;justify-content:center;align-items:center;">23</div>
  <div style="width:52.57px;height:24px;display:flex;justify-content:center;align-items:center;">24</div>
  <div style="width:52.57px;height:24px;display:flex;justify-content:center;align-items:center;">25</div>
</div>
