<!-- section 9: 「锚点 Anochr」组件示例卡片 (8:14692 容器5) -->
<div style="position:absolute;left:64px;top:1630px;width:600px;height:475px;background:#FFFFFF;font-family:'San Francisco Text',-apple-system,'PingFang SC',sans-serif;">
  <!-- 卡片头部 token: 填充/fill_4% -->
  <div style="position:absolute;left:0px;top:0px;width:600px;height:80px;background:rgba(1,27,70,0.04);">
    <!-- token: 文字/标题, 常规 130%/24_medium -->
    <div style="position:absolute;left:233px;top:24px;width:134px;height:32px;font-size:24px;font-weight:500;line-height:130%;color:#202229;white-space:nowrap;">锚点 Anochr</div>
  </div>
  <div style="position:absolute;left:214px;top:144px;width:172px;height:161px;font-size:14px;line-height:150%;">
    <!-- 左：线条式锚点 -->
    <div style="position:absolute;left:0px;top:0px;width:74px;height:161px;border-left:2px solid #F4F4F6;box-sizing:border-box;">
      <!-- 选中项 -->
      <div style="position:absolute;left:-2px;top:4px;width:2px;height:21px;border-radius:2px;background:#1B6DFA;"></div>
      <!-- 样板文字(_placeholder) token: LG 150%/14_medium -->
      <div style="position:absolute;left:16px;top:4px;width:56px;height:21px;font-weight:500;color:#1B6DFA;white-space:nowrap;">锚点类目</div>
      <div style="position:absolute;left:16px;top:37px;width:56px;height:21px;color:#4E5969;white-space:nowrap;">锚点类目</div>
      <div style="position:absolute;left:16px;top:70px;width:56px;height:21px;color:#4E5969;white-space:nowrap;">锚点类目</div>
      <div style="position:absolute;left:16px;top:103px;width:56px;height:21px;color:#4E5969;white-space:nowrap;">锚点类目</div>
      <div style="position:absolute;left:16px;top:136px;width:56px;height:21px;color:#4E5969;white-space:nowrap;">锚点类目</div>
    </div>
    <!-- 右：圆点式锚点 -->
    <div style="position:absolute;left:98px;top:0px;width:74px;height:161px;border-left:2px solid #F4F4F6;box-sizing:border-box;">
      <!-- 选中圆点：白底 2px 外描边 #1B6DFA -->
      <div style="position:absolute;left:-4px;top:11.5px;width:2px;height:2px;background:#FFFFFF;border:2px solid #1B6DFA;border-radius:2px;box-sizing:content-box;"></div>
      <!-- 样板文字(_placeholder) token: LG 150%/14_medium -->
      <div style="position:absolute;left:16px;top:4px;width:56px;height:21px;font-weight:500;color:#1B6DFA;white-space:nowrap;">锚点类目</div>
      <!-- 样板文字(_placeholder)×4 -->
      <div style="position:absolute;left:16px;top:37px;width:56px;height:21px;color:#4E5969;white-space:nowrap;">锚点类目</div>
      <div style="position:absolute;left:16px;top:70px;width:56px;height:21px;color:#4E5969;white-space:nowrap;">锚点类目</div>
      <div style="position:absolute;left:16px;top:103px;width:56px;height:21px;color:#4E5969;white-space:nowrap;">锚点类目</div>
      <div style="position:absolute;left:16px;top:136px;width:56px;height:21px;color:#4E5969;white-space:nowrap;">锚点类目</div>
    </div>
  </div>
</div>
