<div style="position:absolute;left:1525px;top:3113.32px;width:252px;height:24px;">
  <!-- 日期选择器日期行（第6行）：7 格全部为置灰占位（占位文字不渲染） -->
  <div style="position:absolute;left:0px;top:0px;width:36px;height:24px;"></div>
  <div style="position:absolute;left:36px;top:0px;width:36px;height:24px;"></div>
  <div style="position:absolute;left:72px;top:0px;width:36px;height:24px;"></div>
  <div style="position:absolute;left:108px;top:0px;width:36px;height:24px;"></div>
  <div style="position:absolute;left:144px;top:0px;width:36px;height:24px;"></div>
  <div style="position:absolute;left:180px;top:0px;width:36px;height:24px;"></div>
  <div style="position:absolute;left:216px;top:0px;width:36px;height:24px;"></div>
</div>
