<div style="position:absolute;left:64px;top:2644px;width:192px;height:40px;">
  <!-- 「数据录入」分组标题 + 组件数徽标 -->
  <!-- token: 文字/标题 -->
  <div style="position:absolute;left:0px;top:1px;width:128px;height:38px;font-family:'San Francisco Display';font-size:32px;font-weight:500;color:#202229;white-space:nowrap;">数据录入</div>
  <!-- token: 填充/浅灰 -->
  <div style="position:absolute;left:152px;top:0px;width:40px;height:40px;background:#F4F4F6;border-radius:4px;">
    <div style="position:absolute;left:7.5px;top:4px;width:25px;height:32px;font-family:'San Francisco Text';font-size:24px;font-weight:500;line-height:130%;color:#3D3D3D;white-space:nowrap;">17</div>
  </div>
</div>
