@layer base {
  :root {
    /* 辅助文字 (20px - 24px) */
    --text-size-20: 20px;
    --text-size-22: 22px;
    --text-size-24: 24px;

    /* 正文 (26px - 28px) */
    --text-size-26: 26px;
    --text-size-28: 28px;

    /* 标题 (30px - 52px) */
    --text-size-30: 30px;
    --text-size-32: 32px;
    --text-size-36: 36px;
    --text-size-40: 40px;
    --text-size-48: 48px;
    --text-size-52: 52px;
    
    /* 按钮高度设置 */
    --button-2xl-height: 96px;
    --button-xl-height: 86px;
    --button-lg-height: 76px;
    --button-base-height: 64px;
    --button-sm-height: 56px;
    --button-xs-height: 48px;

    /* 输入框高度设置 */
    --input-lg-height: 96px;
    --input-md-height: 90px;
    --input-sm-height: 80px;
  }
  
  @media (min-width: 768px) {
    :root {
      /* Web (1/2 size) */
      --text-size-20: 10px;
      --text-size-22: 11px;
      --text-size-24: 12px;
      --text-size-26: 13px;
      --text-size-28: 14px;
      --text-size-30: 15px;
      --text-size-32: 16px;
      --text-size-36: 18px;
      --text-size-40: 20px;
      --text-size-48: 24px;
      --text-size-52: 28px; 
      
      --button-2xl-height: 48px;
      --button-xl-height: 43px;
      --button-lg-height: 38px;
      --button-base-height: 32px;
      --button-sm-height: 28px;
      --button-xs-height: 24px;

      --input-lg-height: 48px;
      --input-md-height: 45px;
      --input-sm-height: 40px;
    }
  }
}

@theme {
  --text-20: var(--text-size-20);
  --text-22: var(--text-size-22);
  --text-24: var(--text-size-24);
  --text-26: var(--text-size-26);
  --text-28: var(--text-size-28);
  --text-30: var(--text-size-30);
  --text-32: var(--text-size-32);
  --text-36: var(--text-size-36);
  --text-40: var(--text-size-40);
  --text-48: var(--text-size-48);
  --text-52: var(--text-size-52);
}
